## Settings file was created by plugin AdvanceMyShop v1.3.1
## Plugin GUID: Dj_Haski.AdvanceMyShop

[General]

## Chance of a discount to occur. Works shop wide. Set to 0 to disable.
# Setting type: Int32
# Default value: 50
DiscountChance = 50

## Chance of an overprice to occur. Works shop wide. Set to 0 to disable.
# Setting type: Int32
# Default value: 50
OverpriceChance = 0

## This multiplier will be applied to the base generated percentage from 'Percentages'. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
OverpriceMultiplier = 1

## If enabled, then each item will have a chance of being overpriced/discounted separately, rather than the whole shop.
# Setting type: Boolean
# Default value: false
IndividualApply = false

## List of percentages that will be used in the overpricing/discounts event.
# Setting type: String
# Default value: 0.5, 1, 2.5, 5, 10, 15, 20, 25, 30, 50
Percentages = 0.5, 1, 2.5, 5, 10, 15, 20, 25, 30, 50

## Chance of a free item to occur. Works per item. Set to 0 to disable.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 100
FreeItemChance = 0.5

## Chance of an REALLY overpriced item to occur. Works per item. Set to 0 to disable.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 100
OverpricedItemChance = 0

## Multiplier applied to the overpriced item.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 10
OverpricedItemMultiplier = 5

## If enabled, mod will ignore vanilla game item value multiplier. This might be useful for easier playthrough.
# Setting type: Boolean
# Default value: false
DisableVanillaPriceMultiplier = false

[Multipliers]

## Base price multiplier applied to all items (e.g. price * multiplier). Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
BasePriceMultiplier = 1

## Multiplier applied to 'drone' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_drone = 1

## Multiplier applied to 'orb' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_orb = 1

## Multiplier applied to 'cart' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_cart = 1

## Multiplier applied to 'item_upgrade' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_item_upgrade = 1

## Multiplier applied to 'player_upgrade' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_player_upgrade = 1

## Multiplier applied to 'power_crystal' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_power_crystal = 1

## Multiplier applied to 'grenade' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_grenade = 1

## Multiplier applied to 'melee' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_melee = 1

## Multiplier applied to 'healthPack' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_healthPack = 1

## Multiplier applied to 'gun' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_gun = 1

## Multiplier applied to 'tracker' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_tracker = 1

## Multiplier applied to 'mine' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_mine = 1

## Multiplier applied to 'pocket_cart' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_pocket_cart = 1

## Multiplier applied to 'tool' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_tool = 1

## Multiplier applied to 'vehicle' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_vehicle = 1

## Multiplier applied to 'launcher' items. Set to 1 to disable.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -10 to 10
MultiplierFor_launcher = 1

