## Settings file was created by plugin FullHealth v1.9.0
## Plugin GUID: FullHealth

[General]

## Indicates whether the heal is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## The percentage of the player's maximum health to which he will be healed (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
# Setting type: Decimal
# Default value: 100
ToMaxHealthPercentage = 100

## The percentage of the player's maximum health that the player will be healed to (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## It has priority over the `ToMaxHealthPercentage` parameter.
# Setting type: Decimal
# Default value: 0
ByMaxHealthPercentage = 0

## Sets the exact value to heal.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `0`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` parameters.
## For example, if you set the value to `15`, you will always receive 15 HP.
# Setting type: Int32
# Default value: 0
ExactValue = 0

## Sets healing value options to the same as in health packs, one of which will be applied randomly.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `None`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` parameters.
## For example, if you set the value to `Medium, Large`, you will receive a random healing of 50HP or 100HP.
## `Small` - heal 25 HP.
## `Medium` - heal 50 HP.
## `Large` - heal 100 HP.
# Setting type: HealthPackMode
# Default value: None
# Acceptable values: None, Small, Medium, Large, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealthPackMode = None

## The expression used to calculate the healing value.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is null or empty or whitespace, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` and `HealthPackMode` parameters.
## The library used to parse expression is https://github.com/bijington/expressive. You can find detailed information in the documentation.
## Variables:
## `[PlayerName]` - player's name.
## `[PlayerMaxHealth]` - player's maximum health.
## `[PlayerHealth]` - player's health.
## `[PlayerSurvived]` - whether the player survived the last round.
## `[PlayerCount]` - number of players.
## `[PlayerUpgradeHealth]` - player's upgrade health level.
## `[PlayerUpgradeStamina]` - player's upgrade stamina level.
## `[PlayerUpgradeExtraJump]` - player's upgrade extra jump level.
## `[PlayerUpgradeLaunch]` - player's upgrade launch level.
## `[PlayerUpgradeMapPlayerCount]` - player's upgrade map player count level.
## `[PlayerUpgradeSpeed]` - player's upgrade speed level.
## `[PlayerUpgradeStrength]` - player's upgrade strength level.
## `[PlayerUpgradeThrow]` - player's upgrade throw level.
## `[PlayerUpgradeRange]` - player's upgrade range level.
## Custom functions (Standard functions can be found here https://github.com/bijington/expressive/wiki/Functions):
## `RandomList(x1, x2, x3...)` - selects a random number from a list. For example, `RandomList(10, 20)` will randomly return `10` or `20`
## Examples (quotation marks should be removed):
## `Max((([PlayerMaxHealth]*0.8)-[PlayerHealth]),0)` - same as the `ToMaxHealthPercentage` parameter. The player will be healed to 80% of maximum health.
## `[PlayerMaxHealth]*0.3` - same as `ByMaxHealthPercentage` parameter. The player will be healed by 30% of maximum health.
## `40` - same as `ExactValue` parameter. The player will be healed for 40HP.
## `RandomList(25, 50, 100)` - same as `HealthPackMode` parameter. The player will be randomly healed for 25HP or 50HP or 100HP.
## `[PlayerMaxHealth] * (If([PlayerCount] <= 2, Random(25, 30), If([PlayerCount] <= 4, Random(35, 40), If([PlayerCount] <= 6, Random(45, 50), Random(55, 60))))/100)` - if there are up to two players, it heals randomly by 25-30 HP. If there are up to four players, it heals randomly by 35-40 HP, and so on.
# Setting type: String
# Default value: 
Expression = 

## Configures the work mode.
## Warning: You are using `All` or `Client` values for this parameter at your own risk.
## It may stop working after future game updates.
## If another lobby players do not agree with this parameter, do not use it.
## Also, the incomplete heal may not work correctly with this parameter, since the host or other clients may also perform the heal.
## `Host` - works only on host.
## `Client` - works only on client.
## `All` - works on host and client.
# Setting type: WorkMode
# Default value: Host
# Acceptable values: Host, Client, All
WorkMode = Host

## Configures the heal mode.
## `Self` - heal self.
## `Others` - heal others.
## `All` - heal all.
# Setting type: HealMode
# Default value: All
# Acceptable values: Self, Others, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealMode = All

## Configures in which phases of the game health restoration will be triggered.
## `Level` - the level.
## `Shop` - in the shop. Attention! Healing in the shop does not affect the game.
## `Lobby` - in the truck (not menu) before starting the next level.
## `Arena` - in the arena.
## `All` - in all phases.
# Setting type: PhaseMode
# Default value: All
# Acceptable values: Level, Shop, Lobby, Arena, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
PhaseMode = All

## Sets requirements for performing heal.
## `None` - no requirements.
## `Survive` - the player must return to the truck at the end of the round and survive.
# Setting type: HealRequirementMode
# Default value: None
# Acceptable values: None, Survive
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealRequirementMode = None

[Revival]

## Indicates whether the heal is enabled.
# Setting type: Boolean
# Default value: false
Enabled = false

## The percentage of the player's maximum health to which he will be healed (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
# Setting type: Decimal
# Default value: 100
ToMaxHealthPercentage = 100

## The percentage of the player's maximum health that the player will be healed to (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## It has priority over the `ToMaxHealthPercentage` parameter.
# Setting type: Decimal
# Default value: 0
ByMaxHealthPercentage = 0

## Sets the exact value to heal.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `0`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` parameters.
## For example, if you set the value to `15`, you will always receive 15 HP.
# Setting type: Int32
# Default value: 0
ExactValue = 0

## Sets healing value options to the same as in health packs, one of which will be applied randomly.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `None`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` parameters.
## For example, if you set the value to `Medium, Large`, you will receive a random healing of 50HP or 100HP.
## `Small` - heal 25 HP.
## `Medium` - heal 50 HP.
## `Large` - heal 100 HP.
# Setting type: HealthPackMode
# Default value: None
# Acceptable values: None, Small, Medium, Large, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealthPackMode = None

## The expression used to calculate the healing value.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is null or empty or whitespace, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` and `HealthPackMode` parameters.
## The library used to parse expression is https://github.com/bijington/expressive. You can find detailed information in the documentation.
## Variables:
## `[PlayerName]` - player's name.
## `[PlayerMaxHealth]` - player's maximum health.
## `[PlayerHealth]` - player's health.
## `[PlayerSurvived]` - whether the player survived the last round.
## `[PlayerCount]` - number of players.
## `[PlayerUpgradeHealth]` - player's upgrade health level.
## `[PlayerUpgradeStamina]` - player's upgrade stamina level.
## `[PlayerUpgradeExtraJump]` - player's upgrade extra jump level.
## `[PlayerUpgradeLaunch]` - player's upgrade launch level.
## `[PlayerUpgradeMapPlayerCount]` - player's upgrade map player count level.
## `[PlayerUpgradeSpeed]` - player's upgrade speed level.
## `[PlayerUpgradeStrength]` - player's upgrade strength level.
## `[PlayerUpgradeThrow]` - player's upgrade throw level.
## `[PlayerUpgradeRange]` - player's upgrade range level.
## Custom functions (Standard functions can be found here https://github.com/bijington/expressive/wiki/Functions):
## `RandomList(x1, x2, x3...)` - selects a random number from a list. For example, `RandomList(10, 20)` will randomly return `10` or `20`
## Examples (quotation marks should be removed):
## `Max((([PlayerMaxHealth]*0.8)-[PlayerHealth]),0)` - same as the `ToMaxHealthPercentage` parameter. The player will be healed to 80% of maximum health.
## `[PlayerMaxHealth]*0.3` - same as `ByMaxHealthPercentage` parameter. The player will be healed by 30% of maximum health.
## `40` - same as `ExactValue` parameter. The player will be healed for 40HP.
## `RandomList(25, 50, 100)` - same as `HealthPackMode` parameter. The player will be randomly healed for 25HP or 50HP or 100HP.
## `[PlayerMaxHealth] * (If([PlayerCount] <= 2, Random(25, 30), If([PlayerCount] <= 4, Random(35, 40), If([PlayerCount] <= 6, Random(45, 50), Random(55, 60))))/100)` - if there are up to two players, it heals randomly by 25-30 HP. If there are up to four players, it heals randomly by 35-40 HP, and so on.
# Setting type: String
# Default value: 
Expression = 

## Configures the work mode.
## Warning: You are using `All` or `Client` values for this parameter at your own risk.
## It may stop working after future game updates.
## If another lobby players do not agree with this parameter, do not use it.
## Also, the incomplete heal may not work correctly with this parameter, since the host or other clients may also perform the heal.
## `Host` - works only on host.
## `Client` - works only on client.
## `All` - works on host and client.
# Setting type: WorkMode
# Default value: Host
# Acceptable values: Host, Client, All
WorkMode = Host

## Configures the heal mode.
## `Self` - heal self.
## `Others` - heal others.
## `All` - heal all.
# Setting type: HealMode
# Default value: All
# Acceptable values: Self, Others, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealMode = All

## Configures in which phases of the game health restoration will be triggered.
## `Level` - the level.
## `Shop` - in the shop. Attention! Healing in the shop does not affect the game.
## `Lobby` - in the truck (not menu) before starting the next level.
## `Arena` - in the arena.
## `All` - in all phases.
# Setting type: PhaseMode
# Default value: All
# Acceptable values: Level, Shop, Lobby, Arena, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
PhaseMode = All

## Sets requirements for performing heal.
## `None` - no requirements.
## `Survive` - the player must return to the truck at the end of the round and survive.
# Setting type: HealRequirementMode
# Default value: None
# Acceptable values: None, Survive
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealRequirementMode = None

[Revival]

## Indicates whether the heal is enabled.
# Setting type: Boolean
# Default value: false
Enabled = false

## The percentage of the player's maximum health to which he will be healed (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
# Setting type: Decimal
# Default value: 100
ToMaxHealthPercentage = 100

## The percentage of the player's maximum health that the player will be healed to (Min: 0, Max: 100).
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## It has priority over the `ToMaxHealthPercentage` parameter.
# Setting type: Decimal
# Default value: 0
ByMaxHealthPercentage = 0

## Sets the exact value to heal.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `0`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` parameters.
## For example, if you set the value to `15`, you will always receive 15 HP.
# Setting type: Int32
# Default value: 0
ExactValue = 0

## Sets healing value options to the same as in health packs, one of which will be applied randomly.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is `None`, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` parameters.
## For example, if you set the value to `Medium, Large`, you will receive a random healing of 50HP or 100HP.
## `Small` - heal 25 HP.
## `Medium` - heal 50 HP.
## `Large` - heal 100 HP.
# Setting type: HealthPackMode
# Default value: None
# Acceptable values: None, Small, Medium, Large, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealthPackMode = None

## The expression used to calculate the healing value.
## Attention! You must set the `PhaseMode` parameter to only one of `Level` or `Lobby`, not both. Otherwise, the healing will be done twice.
## If the value is null or empty or whitespace, then it is disabled.
## It has priority over the `ToMaxHealthPercentage` and `ByMaxHealthPercentage` and `ExactValue` and `HealthPackMode` parameters.
## The library used to parse expression is https://github.com/bijington/expressive. You can find detailed information in the documentation.
## Variables:
## `[PlayerName]` - player's name.
## `[PlayerMaxHealth]` - player's maximum health.
## `[PlayerHealth]` - player's health.
## `[PlayerSurvived]` - whether the player survived the last round.
## `[PlayerCount]` - number of players.
## `[PlayerUpgradeHealth]` - player's upgrade health level.
## `[PlayerUpgradeStamina]` - player's upgrade stamina level.
## `[PlayerUpgradeExtraJump]` - player's upgrade extra jump level.
## `[PlayerUpgradeLaunch]` - player's upgrade launch level.
## `[PlayerUpgradeMapPlayerCount]` - player's upgrade map player count level.
## `[PlayerUpgradeSpeed]` - player's upgrade speed level.
## `[PlayerUpgradeStrength]` - player's upgrade strength level.
## `[PlayerUpgradeThrow]` - player's upgrade throw level.
## `[PlayerUpgradeRange]` - player's upgrade range level.
## Custom functions (Standard functions can be found here https://github.com/bijington/expressive/wiki/Functions):
## `RandomList(x1, x2, x3...)` - selects a random number from a list. For example, `RandomList(10, 20)` will randomly return `10` or `20`
## Examples (quotation marks should be removed):
## `Max((([PlayerMaxHealth]*0.8)-[PlayerHealth]),0)` - same as the `ToMaxHealthPercentage` parameter. The player will be healed to 80% of maximum health.
## `[PlayerMaxHealth]*0.3` - same as `ByMaxHealthPercentage` parameter. The player will be healed by 30% of maximum health.
## `40` - same as `ExactValue` parameter. The player will be healed for 40HP.
## `RandomList(25, 50, 100)` - same as `HealthPackMode` parameter. The player will be randomly healed for 25HP or 50HP or 100HP.
## `[PlayerMaxHealth] * (If([PlayerCount] <= 2, Random(25, 30), If([PlayerCount] <= 4, Random(35, 40), If([PlayerCount] <= 6, Random(45, 50), Random(55, 60))))/100)` - if there are up to two players, it heals randomly by 25-30 HP. If there are up to four players, it heals randomly by 35-40 HP, and so on.
# Setting type: String
# Default value: 
Expression = 

## Configures the work mode.
## Warning: You are using `All` or `Client` values for this parameter at your own risk.
## It may stop working after future game updates.
## If another lobby players do not agree with this parameter, do not use it.
## Also, the incomplete heal may not work correctly with this parameter, since the host or other clients may also perform the heal.
## `Host` - works only on host.
## `Client` - works only on client.
## `All` - works on host and client.
# Setting type: WorkMode
# Default value: Host
# Acceptable values: Host, Client, All
WorkMode = Host

## Configures the heal mode.
## `Self` - heal self.
## `Others` - heal others.
## `All` - heal all.
# Setting type: HealMode
# Default value: All
# Acceptable values: Self, Others, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HealMode = All

## Configures in which phases of the game health restoration will be triggered.
## `Level` - the level.
## `Shop` - in the shop. Attention! Healing in the shop does not affect the game.
## `Lobby` - in the truck (not menu) before starting the next level.
## `Arena` - in the arena.
## `All` - in all phases.
# Setting type: PhaseMode
# Default value: All
# Acceptable values: Level, Shop, Lobby, Arena, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
PhaseMode = All

